*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589F9;
}

@media (max-width: 768px) {
  main {
    padding: 15px;
  }
}

.grid {
  background: #6589F9;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
<<<<<<< HEAD
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background: #363635 url('../img/question.svg') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: #6589F9;
=======
}

.match {
  border: 4px solid red;
  background-image: none !important;
}

.card { 
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: #242422 url('../img/Capture.PNG') no-repeat center center /
    contain;
}


.back {
  transform: rotateY(180deg);
  background-color: white;
>>>>>>> 901cc3e1ebedbd0f8abcefad339ea5c18d5c2219
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}
<<<<<<< HEAD
=======

.match .front {
  background: white !important;
}
>>>>>>> 901cc3e1ebedbd0f8abcefad339ea5c18d5c2219
