/* Style global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #2c3e50;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  list-style: none;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #3498db;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #3498db;
  color: #fff;
}

/* Style de la section */
section {
  margin-top: 20px;
}

section h2 {
  font-size: 1.8rem;
  color: #34495e;
  margin-bottom: 15px;
}

section p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #7f8c8d;
}

section ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

section ul li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #34495e;
}

section img {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section div p {
  font-size: 1.1rem;
  margin: 10px 0;
}

@media (max-width: 768px) {
  main {
    padding: 15px;
  }

  nav ul {
    flex-direction: column;
  }

  nav a {
    margin-bottom: 10px;
  }

  section h2 {
    font-size: 1.5rem;
  }

  section img {
    max-width: 100%;
  }
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.8rem;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}
